.hero {
  background-size: cover;
  display: grid;
  justify-content: center;
  text-align: center;
  transition: background-image 1s ease-in-out;

  @media only screen and (max-width: 37.5em) {
    padding-bottom: 2rem;
    height: 60vh;
  }

  .hero-text {
    padding: 0 6rem;
    font-size: 3.4rem;
    margin-bottom: 2rem;
    font-family: var(--font-body);
    color: var(--color-white);
    text-shadow: 0 3px 6px rgba(13, 94, 78, 0.8);

    @media only screen and (max-width: 66.68em) {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    @media only screen and (max-width: 37.5em) {
      font-size: 2rem;
      margin-bottom: 3rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  &__btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    margin-bottom: 10rem;
  }

  &__link {
    &:link,
    &:visited,
    &:active {
      color: var(--color-white);
      text-decoration: none;
      font-size: 1.8rem;
      font-family: var(--font-body);
      margin-bottom: 4rem;
      transition: all 0.3s ease;
    }
  }
}

// ***********************************************
// ***********************************************
// ***********************************************
.section-best-sellers {
  padding: 10rem 0;
}

.best-sellers {
  opacity: 0;
  transform: translateX(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;

  &.visible {
    opacity: 1;
    transform: translateX(0);
  }
  &__intro {
    text-align: center;
    margin-top: 30px;
    font-size: 2.5rem;
    font-family: var(--font-body);
    color: var(--text-color);

    @media only screen and (max-width: 62.5em) {
      font-size: 1.8rem;
    }

    @media only screen and (max-width: 37.5em) {
      font-size: 1.5rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 5rem;

    @media only screen and (max-width: 62.5em) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 43.75em) {
      grid-template-columns: 1fr;
    }

    &-content {
      opacity: 0;
      transform: translate(30px);
      transition: opacity 0.8s ease, transform 0.8s ease;

      &.visible {
        opacity: 1;
        transform: translate(0);
      }

      box-shadow: 0 13px 20px rgba(13, 94, 78, 0.8);
      padding: 1rem 2rem;
      border-radius: 10px;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(10px);
        transition: all 0.3s ease;
      }
    }
  }

  &__image {
    width: 100%;
  }

  &__price {
    margin-bottom: 10px;
  }

  &__description {
    margin-bottom: 20px;
  }

  &__btn {
    &:link,
    &:visited,
    &:active {
      text-decoration: none;
      color: var(--color-white);
    }
  }
}
// ***********************************************
// ***********************************************
// ***********************************************
.section-highlight {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.8s ease, transform 0.8s ease;

  &.visible {
    opacity: 1;
    transform: translateX(0);
  }
  background-color: var(--accent-color-light);
  padding: 10rem 0;
}

.highlight {
  &__intro {
    text-align: center;
    color: var(--text-color);
    font-size: 2.5rem;
    font-family: var(--font-body);
    margin-top: 30px;

    @media only screen and (max-width: 62.5em) {
      font-size: 1.8rem;
    }

    @media only screen and (max-width: 37.5em) {
      font-size: 1.5rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 2rem;
    margin-top: 6rem;

    @media only screen and (max-width: 50em) {
      grid-template-columns: 1fr;
    }

    &-card {
      opacity: 0;
      transform: translateY(-50px);
      transition: opacity 0.8s ease, transform 0.8s ease;

      &.visible {
        opacity: 1;
        transform: translateY(0);
      }

      overflow: hidden;
      position: relative;

      &-4 {
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.8s ease, transform 0.8s ease;

        &.visible {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    &-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1.5rem 2.4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      opacity: 0;
      transition: opacity 0.4s ease;
    }

    &-card:hover &-content {
      opacity: 1;
      background-color: rgba(13, 94, 78, 0.5);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__heading {
    color: var(--color-white);
    font-family: var(--font-heading);
    font-size: 3.4rem;
  }

  &__text {
    text-align: center;
    color: var(--color-white);
  }

  &__btn {
    &:link,
    &:visited,
    &:active {
      text-decoration: none;
      color: var(--color-white);
    }
  }
}

// ***********************************************
// ***********************************************
// ***********************************************
.section-about {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 0.8s ease, transform 0.8s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
  padding: 10rem 0;
}

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  column-gap: 2rem;
  margin-top: 40px;

  @media only screen and (max-width: 62.5em) {
    grid-template-columns: 1fr;
  }

  @media only screen and (max-width: 43.75em) {
    margin-top: 20px;
  }

  &__intro {
    // text-align: center;
    color: var(--text-color);
    font-size: 2.5rem;
    font-family: var(--font-body);
    font-weight: 600;
    // margin-top: 20px;
    text-shadow: 0 15px 6px rgba(0, 0, 0, 0.8);
  }

  &__text {
    font-family: var(--font-body);
    color: var(--text-color);
    margin: 2rem 0;
    line-height: 1.7;
  }

  .about__text-content {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.8s ease, transform 0.8s ease;

    &.visible {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .about__image-container {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;

    &.visible {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

    @media only screen and (max-width: 62.5em) {
      clip-path: none;
    }
  }

  &__btn {
    display: grid;
    justify-self: start;
    @media only screen and (max-width: 62.5em) {
      justify-self: center;
      margin-bottom: 3rem;
    }
    &:link,
    &:visited,
    &:active {
      text-decoration: none;
      color: var(--color-white);
    }
  }
}
// ***********************************************
// ***********************************************
// ***********************************************
.section-cta {
  opacity: 0;
  transform: translate3d(-50px, -50px, -50px);
  transition: opacity 0.8s ease, transform 0.8s ease;

  &.visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  padding: 10rem 0;
  background-color: var(--text-color-light);
  perspective: 800px;
}

.cta {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;

  @media only screen and (max-width: 43.75em) {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
  }

  &__container-text {
    flex: 1 1 500px;
  }

  &__container-image {
    flex: 1 1 400px;
    position: relative;
  }

  &__container-image img {
    width: 80%;
    border-radius: 12px;
    box-shadow: var(--shadow-2);
    transition: transform 0.3s ease;
    border: 4px solid var(--accent-color-dark);

    @media only screen and (max-width: 43.75em) {
      width: 50%;
    }

    @media only screen and (max-width: 31.25em) {
      width: 55%;
    }

    &:hover {
      transform: scale(1.2) translateX(10px);
      z-index: 10;
    }
  }

  &__text {
    color: var(--text-color);
    margin-bottom: 10px;
    line-height: 1.7;

    @media only screen and (max-width: 43.75em) {
      text-align: center;
    }
  }

  &__image-1 {
    position: absolute;
    top: 60px;
    left: 80px;

    @media only screen and (max-width: 43.75em) {
      top: 30px;
      left: 30rem;
    }

    @media only screen and (max-width: 31.25em) {
      top: 30px;
      left: 19rem;
    }

    @media only screen and (max-width: 25em) {
      left: 13rem;
    }

    @media only screen and (max-width: 18.75em) {
      left: 15rem;
    }
  }

  &__whatsapp {
    display: grid;
    justify-self: start;

    @media only screen and (max-width: 43.75em) {
      justify-self: center;
    }
    &:link,
    &:visited,
    &:active {
      text-decoration: none;
      color: var(--color-white);
    }
  }

  .cta__container-text {
    opacity: 0;
    transform: translateX(25px);
    transition: opacity 0.8s ease, transform 0.8s ease;

    &.visible {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .cta__container-image {
    opacity: 0;
    transform: translateX(-25px);
    transition: opacity 0.8s ease, transform 0.8s ease;

    &.visible {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

// ***********************************************
// ***********************************************
// ***********************************************
.section-testimonial {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.8s ease, transform 0.8s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
  padding: 10rem 0;
  margin-bottom: 5rem;
}

.testimonial {
  &__slider {
    position: relative;
    display: grid;
    justify-self: center;
    margin-top: 3rem;

    width: 40%;

    @media only screen and (max-width: 62.5em) {
      width: 60%;
    }

    @media only screen and (max-width: 50em) {
      width: 75%;
    }

    @media only screen and (max-width: 37.5em) {
      width: 100%;
    }

    @media only screen and (max-width: 18.75em) {
      width: 105%;
    }
  }

  &__card {
    background-color: var(--accent-color-dark);
    padding: 2rem 5rem;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    box-shadow: var(--shadow-2);

    @media only screen and (max-width: 62.5em) {
      padding: 3rem 5rem;
    }

    &.active {
      opacity: 1;
      position: relative;
    }
  }

  &__heading {
    color: var(--color-white);
  }

  &__text {
    line-height: 1.7;
    font-size: 2rem;
    color: var(--color-white);
  }

  &__image {
    width: 15%;
    border-radius: 100px;
    border: 3px solid var(--color-white);
  }
}

// ***********************************************
// ***********************************************
// ***********************************************
.section-newsletter {
  opacity: 0;
  transform: translateX(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;

  &.visible {
    opacity: 1;
    transform: translateX(0);
  }
  padding: 10rem 0;
  background-color: var(--accent-color-light);
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;

  @media only screen and (max-width: 62.5em) {
    gap: 4px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media only screen and (max-width: 43.75em) {
    gap: 20px;
    flex-direction: column;
    margin-top: 20px;
  }

  &__text {
    font-size: 1.7rem;
    text-align: center;
  }

  #input {
    width: 60%;
    border: none;
    border-radius: 9px;
    padding: 1.7rem 1.5rem;
    margin-right: 7px;

    @media only screen and (max-width: 62.5em) {
      margin-right: 5px;
    }

    @media only screen and (max-width: 56.25em) {
      width: 50%;
      margin-right: 1px;
    }

    @media only screen and (max-width: 43.75em) {
      width: 60%;
      padding: 1.9rem 1.5rem;
    }

    @media only screen and (max-width: 31.25em) {
      width: 55%;
    }

    @media only screen and (max-width: 18.75em) {
      width: 40%;
    }
  }

  #input:focus {
    outline: 1px solid green;
  }

  &__btn {
    padding: 12px 15px;
    display: inline-block;
    color: var(--color-white);
  }
}
