.product-section-hero {
  padding-top: 3rem;
  position: relative;
  background: linear-gradient(
      to right,
      rgba(13, 94, 78, 0.6),
      rgba(13, 94, 78, 0.6)
    ),
    url(/img/img1-large.jpg) left/50% no-repeat,
    url(/img/ladies-1-large.jpeg) right/50% no-repeat;
  background-size: 50% 100%, 50% 100%;
  background-position: left center, right center;

  @media only screen and (max-width: 66.68em) {
    background: linear-gradient(
        to bottom,
        rgba(13, 94, 78, 0.6) 0%,
        rgba(13, 94, 78, 0.6) 100%
      ),
      url(/img/img1-large.jpg) center center/cover no-repeat;
    background-attachment: fixed;
  }
}
.product-hero {
  &__text {
    text-align: center;
    color: var(--color-white);
    margin-bottom: 2rem;
    font-size: 3rem;

    @media only screen and (max-width: 37.5em) {
      font-size: 2rem;
      padding: 0 4rem;
    }
  }
}

.hero__shop {
  &:link,
  &:visited,
  &:active {
    display: inline-block;
    margin-bottom: 10rem;
  }
}
/* PRODUCT VIEWER SECTION */

.product-shop {
  margin-top: 4rem;
}

.product-viewer {
  opacity: 0;
  transform: translateX(-70px);
  transition: opacity 0.8s ease, transform 0.8s ease;

  &.visible {
    opacity: 1;
    transform: translateX(0);
  }
}

#product-viewer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  padding: 2rem;

  @media only screen and (max-width: 37.5em) {
    grid-template-columns: 1fr;
  }
}

/* PRODUCT IMAGES */
.product-images {
  text-align: center;
}
.main-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
}
.thumbnails {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.thumbnails img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s;
}
.thumbnails img.active,
.thumbnails img:hover {
  border-color: var(--accent-color-dark);
}

/* PRODUCT INFO */
.product-info h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.product-info p {
  margin-bottom: 1rem;
}
.product-info .add-to-cart {
  padding: 1.5rem 2rem;
  // background: #ff6600;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}
.product-info .add-to-cart:hover {
  background: var(--accent-color-dark);
}

/* SHOP GRID */

.shop-grid {
  margin-bottom: 4rem;
}

.shop-grid h2 {
  // font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  margin-top: 10rem;

  @media only screen and (max-width: 66.68em) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (max-width: 56.25em) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 43.75em) {
    grid-template-columns: 1fr;
  }
}
.product-card {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 0.8s ease, transform 0.8s ease;

  &.visible {
    opacity: 1;
    transform: translateX(0);
  }

  background: #fff;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: visible;
}
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.product-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.product-card p {
  color: var(--text-color);
  font-weight: bold;
}

.product-price {
  font-size: 1.7rem;
  font-family: var(--font-body);
}

.product-btn {
  display: grid;
  justify-self: center;
  margin-top: 1.2rem;
  margin-bottom: 1.7rem;
  padding: 0.9rem 2rem;
}

// ***********************************************
// ***********************************************
// ***********************************************

.wishlist-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  background: linear-gradient(
    to top,
    var(--accent-color-light),
    var(--accent-color-light)
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
  user-select: none;
  transition: color 0.3s ease;
  z-index: 5;

  @media only screen and (max-width: 37.5em) {
    font-size: 1.7rem;
    top: 10px;
    right: 15px;
  }
}

.wishlist-icon.saved {
  background: linear-gradient(to top, var(--accent-color), var(--text-color));
  -webkit-background-clip: text;
  color: transparent;
}

.wishlist-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  background: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
  z-index: 1001;

  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 26.75em) {
    width: 100%;
  }

  @media only screen and (max-width: 25em) {
    width: 100%;
    max-width: 700px;
  }
}

.wishlist-sidebar.open {
  transform: translateX(0);
}

.wishlist-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.wishlist-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.wishlist-header {
  flex-shrink: 0;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  z-index: 1;
  padding: 1.5rem;
}

#wishlist-list {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  margin: 0;
  list-style: none;
}

#wishlist-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

#wishlist-list img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}
