.section-footer {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;

  &.visible {
    opacity: 1;
    transform: translateX(0);
  }
  padding-top: 10rem;
  padding-bottom: 2rem;
  position: relative;
  background: linear-gradient(
      to right,
      rgba(13, 94, 78, 0.6),
      rgba(13, 94, 78, 0.6)
    ),
    url(/img/img4-large.jpeg) left/50% no-repeat,
    url(/img/img5-large.jpeg) right/50% no-repeat;
  background-size: 50% 100%, 50% 100%;
  background-position: left center, right center;
  background-attachment: fixed;

  @media only screen and (max-width: 66.68em) {
    height: auto;
    background: linear-gradient(
        to bottom,
        rgba(13, 94, 78, 0.6) 0%,
        rgba(13, 94, 78, 0.6) 100%
      ),
      url(/img/img4-large.jpeg) center center/cover no-repeat;
    background-attachment: fixed;
  }
}

.footer {
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    row-gap: 4rem;
    padding-left: 5rem;
    padding-right: 5rem;

    @media only screen and (max-width: 62.5em) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: 43.75em) {
      grid-template-columns: repeat(2, 1fr);
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &__tagline {
    margin-top: 15px;
    font-family: var(--font-body);
    color: var(--color-white);

    &:first-of-type {
      margin-bottom: 10px;
    }
  }

  &__logo {
    width: 5rem;
    border-radius: 50%;

    &-image {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }

    &-link {
      &:link,
      &:visited,
      &:active {
        display: inline-block;
        text-decoration: none;
        color: var(--color-white);
      }
    }
  }

  &__heading {
    margin-bottom: 1.5rem;
    color: var(--color-white);
  }

  &__brand {
    // margin-right: 20px;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__item {
    color: var(--color-white);
  }

  &__icon {
    stroke: var(--color-white);
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__socials {
    &-media {
      display: flex;
      gap: 1rem;
    }
  }

  &__links {
    &:link,
    &:active,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: var(--color-white);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__whatsapp-cta {
    display: grid;
    justify-self: start;
    &:link,
    &:active,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: var(--color-white);
      text-align: center;
      margin-bottom: 2rem;
      margin-top: 1rem;

      @media only screen and (max-width: 62.5em) {
        padding: 12px 13px;
      }

      @media only screen and (max-width: 44.75em) {
        padding: 9px 10px;
      }

      @media only screen and (max-width: 37.5em) {
        padding: 9px 8px;
        font-size: 1.6rem;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;

    &-text {
      color: var(--color-white);
    }
  }
}

.legal {
  display: flex;
  justify-content: end;
  padding-right: 3rem;
  gap: 1.3rem;

  @media only screen and (max-width: 37.5em) {
    justify-content: center;
    margin-top: 2rem;
  }
}
